#container-states{
    position:absolute;
    width: 200px;
    height: 600px;
    border: 2px solid;
    border-radius: 36%;
    margin-left: 14%;
    margin-top: 8%;
}

.circle{
    border-radius: 50%;
    border: 2px solid;
    height: 120px;
    width: 120px;
    margin-left: 18%;
    margin-top: 22%;
}
h5{
    text-align: center;
    margin-top: 37%;
}