#container-states{
    position:absolute;
    width: 63%;
    height: 60%;
    border: 2px solid;
    border-radius: 36%;
    margin-left: 14%;
    margin-top: 8%;
}

.circle{
    border-radius: 50%;
    border: 2px solid;
    height: 120px;
    width: 120px;
    margin-left: 24%;
    margin-top: 29%;
}
p{
    text-align: center;
    margin-top: 37%;
}